<a href="https://colab.research.google.com/github/Vaycold/statistics_seminar/blob/main/covid19_tweet/Loaded_data3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import os
import tensorflow as tf
from tensorflow import keras
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings 
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer





warnings.filterwarnings('ignore')

os.environ['KAGGLE_USERNAME'] = 'kimgodbang'
os.environ['KAGGLE_KEY'] = '1c0e1716b23829d4381dcbced37ba49b'

!rm *.*
!kaggle competitions download -c sentiment-analysis-of-covid-19-related-tweets

train_df = pd.read_csv('training.csv')
test_df = pd.read_csv('validation.csv')

for module in ['stopwords', 'punkt', 'wordnet'] :
    nltk.download(module)

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading training.csv to /content
  0% 0.00/518k [00:00<?, ?B/s]
100% 518k/518k [00:00<00:00, 35.1MB/s]
Downloading validation.csv to /content
  0% 0.00/254k [00:00<?, ?B/s]
100% 254k/254k [00:00<00:00, 110MB/s]
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [28]:
train_df.head()

   ID                                              Tweet Labels
0   1  NO JOKE I WILL HOP ON A PLANE RN! (Well after ...   0 10
1   2  BanMediaHouse whose is responsible for spreadi...      6
2   3  Im waiting for someone to say to me that all t...    3 4
3   4  He is a liar. Proven day night. Time again. Li...      6
4   5  NEW: U.S. CoronaVirus death toll reaches 4,000...      8

In [29]:
def labelsplit(labels) :
    
    label = labels.replace(' ',',').split(',')
    for idx, lab in enumerate(label) :
        label[idx] = int(lab)
    return label

In [30]:
train_df['label']  = train_df['Labels'].apply(lambda x :  labelsplit(x))
train_df.head(2)

   ID                                              Tweet Labels    label
0   1  NO JOKE I WILL HOP ON A PLANE RN! (Well after ...   0 10  [0, 10]
1   2  BanMediaHouse whose is responsible for spreadi...      6      [6]

In [31]:
onehot = np.zeros((5000,11))
for i in range(5000) : # 0~5000 row
    for j in train_df.label[i] : # j = value   
        onehot[i,j]  = 1
cols_target = ['0','1','2','3','4','5','6','7','8','9','10']
onehot = pd.DataFrame(onehot, columns=cols_target)
onehot[:3]

     0    1    2    3    4    5    6    7    8    9   10
0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
1  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0

In [32]:
train_df = pd.concat(
    [train_df, onehot], axis=1
).drop(['ID','Labels', 'label'],axis=1)

train_df.head(2)

                                               Tweet    0    1  ...    8    9   10
0  NO JOKE I WILL HOP ON A PLANE RN! (Well after ...  1.0  0.0  ...  0.0  0.0  1.0
1  BanMediaHouse whose is responsible for spreadi...  0.0  0.0  ...  0.0  0.0  0.0

[2 rows x 12 columns]

## 텍스트 클렌징

In [38]:
stop = stopwords.words('english')
def word_lemmatizer(text):
    lem_text = [WordNetLemmatizer().lemmatize(i) for i in text]
    return lem_text
def  clean_text(df, text_field='Tweet', new_text_field_name='clean_tweet'):
    df[new_text_field_name] = df[text_field].str.lower()
    df[new_text_field_name] = df[new_text_field_name].apply(lambda x : x.lower())
    df[new_text_field_name] = df[new_text_field_name].apply(lambda elem: re.sub(r"(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|^rt|http.+?", "", elem))  
    df[new_text_field_name] = df[new_text_field_name].apply(lambda elem: re.sub(r"\d+", "", elem))
    df[new_text_field_name] = df[new_text_field_name].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
    df[new_text_field_name] = df[new_text_field_name].apply(lambda x: word_tokenize(x))
    df[new_text_field_name] = df[new_text_field_name].apply(lambda x: word_lemmatizer(x))
    df[new_text_field_name] = df[new_text_field_name].apply(lambda x: ' '.join(x))
    return df

In [39]:
def clean_df(df) :
    DF = clean_text(df, 'Tweet', 'clean_tweet')
    try :
        DF = DF[['clean_tweet','0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10']]
        DF.columns = ['Tweet','0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
    except :
        DF = DF[['clean_tweet']]
        DF.columns = ['Tweet']
    
    return DF

In [40]:
clean_df(train_df)

                                                  Tweet    0  ...    9   10
0                      joke hop plane rn well covid lol  1.0  ...  0.0  1.0
1     banmediahouse whose responsible spreading fake...  0.0  ...  0.0  0.0
2     im waiting someone say corona thing april fool...  0.0  ...  0.0  0.0
3            liar proven day night time lie truth covid  0.0  ...  0.0  0.0
4     new u coronavirus death toll reach nearly new ...  0.0  ...  0.0  0.0
...                                                 ...  ...  ...  ...  ...
4995  life insurance wonder policy paying corona dea...  0.0  ...  0.0  0.0
4996  cousin passed away corona virus today today da...  0.0  ...  0.0  0.0
4997  guess mother nature really hate u yellowstone ...  0.0  ...  1.0  1.0
4998  question day isnt related coronavirus better b...  0.0  ...  1.0  1.0
4999  dear corona cancel fucking church camp summer ...  0.0  ...  0.0  1.0

[5000 rows x 12 columns]

In [41]:
clean_df(test_df)

                                                  Tweet
0     forgot math test failing teacher opening back ...
1     corona effected came delhi bihar lakhisarai di...
2                                    make corona end na
3     imagine coronavirus pandemic big april fool jo...
4          howdy ana get married coronavirus update gov
...                                                 ...
2495  ease research coronavirus started mainly pango...
2496  j n u postering favour corona cluster bomb del...
2497  god word powerful promise put trust survive covid
2498  mom made drink boiled lemon garlic onion stop ...
2499    child calling coronavirus longest snow day ever

[2500 rows x 1 columns]

In [42]:
train_df = clean_df(train_df)
test_df = clean_df(test_df)
test_df.head()

                                               Tweet
0  forgot math test failing teacher opening back ...
1  corona effected came delhi bihar lakhisarai di...
2                                 make corona end na
3  imagine coronavirus pandemic big april fool jo...
4       howdy ana get married coronavirus update gov