# FBProphet을 활용한 국내 코로나 바이러스 확진자 수 예측
___

## Data
    - John Hopkins University의 Covid-19 Data 사용 예정
    - 2개의 raw파일 사용
       1. RAW_global_confirmed_cases.csv
       2. RAW_global_global_deaths.csv
    - 데이터는 20년 1월 22일부터 현재까지의 누적된 수를 나타냄.
- 출처 : https://www.kaggle.com/antgoldbloom/covid19-data-from-john-hopkins-university

## 라이브러리

In [2]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
from fbprophet import Prophet

## 데이터 다운로드

In [34]:
os.environ['KAGGLE_USERNAME'] = 'kimgodbang'
os.environ['KAGGLE_KEY'] = '81d66b414587b58ec1ae231dce2eeb4b'

!rm *.*
!kaggle datasets download -d antgoldbloom/covid19-data-from-john-hopkins-university
!unzip '*.zip'

df_case = pd.read_csv('RAW_global_confirmed_cases.csv')
df_death = pd.read_csv('RAW_global_deaths.csv')

Downloading covid19-data-from-john-hopkins-university.zip to /content
  0% 0.00/4.23M [00:00<?, ?B/s]
100% 4.23M/4.23M [00:00<00:00, 69.7MB/s]
Archive:  covid19-data-from-john-hopkins-university.zip
  inflating: CONVENIENT_global_confirmed_cases.csv
  inflating: CONVENIENT_global_deaths.csv
  inflating: CONVENIENT_global_metadata.csv
  inflating: CONVENIENT_us_confirmed_cases.csv
  inflating: CONVENIENT_us_deaths.csv
  inflating: CONVENIENT_us_metadata.csv
  inflating: RAW_global_confirmed_cases.csv
  inflating: RAW_global_deaths.csv
  inflating: RAW_us_confirmed_cases.csv
  inflating: RAW_us_deaths.csv

In [8]:
# 받은 데이터 확인 -(1)
print(df_case.shape, df_death.shape)

(274, 437) (274, 437)

In [9]:
# 받은 데이터 확인 -(2)
df_case.head()

  Country/Region Province/State       Lat  ...  3/27/21  3/28/21  3/29/21
0    Afghanistan            NaN  33.93911  ...    56290    56294    56322
1        Albania            NaN  41.15330  ...   123641   124134   124419
2        Algeria            NaN  28.03390  ...   116750   116836   116946
3        Andorra            NaN  42.50630  ...    11809    11850    11888
4         Angola            NaN -11.20270  ...    22031    22063    22132

[5 rows x 437 columns]

In [10]:
df_death.head()

  Country/Region Province/State       Lat  ...  3/27/21  3/28/21  3/29/21
0    Afghanistan            NaN  33.93911  ...     2469     2470     2472
1        Albania            NaN  41.15330  ...     2204     2210     2216
2        Algeria            NaN  28.03390  ...     3077     3080     3084
3        Andorra            NaN  42.50630  ...      115      115      115
4         Angola            NaN -11.20270  ...      533      533      534

[5 rows x 437 columns]

## Data EDA

In [18]:
df_case['Country/Region'].value_counts()

China             33
Canada            16
France            12
United Kingdom    12
Australia          8
                  ..
Costa Rica         1
Sri Lanka          1
Germany            1
Botswana           1
Bahamas            1
Name: Country/Region, Length: 192, dtype: int64

In [20]:
df_death['Country/Region'].value_counts()

China             33
Canada            16
France            12
United Kingdom    12
Australia          8
                  ..
Costa Rica         1
Sri Lanka          1
Germany            1
Botswana           1
Bahamas            1
Name: Country/Region, Length: 192, dtype: int64

In [24]:
df_case.columns

Index(['Country/Region', 'Province/State', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '3/20/21', '3/21/21', '3/22/21', '3/23/21', '3/24/21', '3/25/21',
       '3/26/21', '3/27/21', '3/28/21', '3/29/21'],
      dtype='object', length=437)

In [25]:
df_death.columns

Index(['Country/Region', 'Province/State', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '3/20/21', '3/21/21', '3/22/21', '3/23/21', '3/24/21', '3/25/21',
       '3/26/21', '3/27/21', '3/28/21', '3/29/21'],
      dtype='object', length=437)

## 시계열 데이터를 다루기 위해서 데이터 구조 변경

In [35]:
df = df_case.drop(['Lat','Long'], axis=1)
df_case = df.groupby('Country/Region'	).sum().transpose()
df_case.index.name = 'Date'
df_case.reset_index(inplace=True)
df_case['Date'] = df_case['Date'].apply(lambda x : pd.to_datetime(str(x)))
df_case.set_index('Date', inplace = True)

In [38]:
df_case.head()

Country/Region  Afghanistan  Albania  Algeria  ...  Yemen  Zambia  Zimbabwe
Date                                           ...
2020-01-22                0        0        0  ...      0       0         0
2020-01-23                0        0        0  ...      0       0         0
2020-01-24                0        0        0  ...      0       0         0
2020-01-25                0        0        0  ...      0       0         0
2020-01-26                0        0        0  ...      0       0         0

[5 rows x 192 columns]

In [39]:
df = df_death.drop(['Lat','Long'], axis=1)
df_death = df.groupby('Country/Region'	).sum().transpose()
df_death.index.name = 'Date'
df_death.reset_index(inplace=True)
df_death['Date'] = df_death['Date'].apply(lambda x : pd.to_datetime(str(x)))
df_death.set_index('Date', inplace = True)

In [40]:
df_death.head()

Country/Region  Afghanistan  Albania  Algeria  ...  Yemen  Zambia  Zimbabwe
Date                                           ...
2020-01-22                0        0        0  ...      0       0         0
2020-01-23                0        0        0  ...      0       0         0
2020-01-24                0        0        0  ...      0       0         0
2020-01-25                0        0        0  ...      0       0         0
2020-01-26                0        0        0  ...      0       0         0

[5 rows x 192 columns]